@import '~src/styles/--scss-vars.scss';


:host {
    position: relative;
    display: block;
    height: 100%;

    * {
        color: white;
    }

    >.page-wrapper {
        // настройка родителя для повединия с 
        // размещением детей по родительской высоте 
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: var(--bg-color);

        @import './frame-content',
        './slider',
        './pop-up',
        './pop-up-frame-content';

        // &.is-swiping{
        // }
        &:not(.is-swiping) {
            transition: background-color .3s ease-out;
        }
    }
}